/.idea
/.vscode/
/**/*.iml
/**/target
/**/build
/h2db
/venv
/**/node_modules
/**/dist
/masters
/.planning
/.automationj
/.ipynb_checkpoints
/pom.xml
/**/.settings
/**/.project
/**/.metadata
/scratch
/**/*.egg-info
/_project31/
/unpublished/webapp/backendserver/src/main/resources/static
/examples/ubs-vwap-calculator
